.imgSize{
	height: 280px;
	width: 600px;
	border-radius: 4px;
}

.cMargin{
	padding-top: 40px;
}

.cPadding{
	padding: 20px;
	padding-bottom: 5px;
	margin-left: 2px;
	width: 100%;
}

.fMargin{
	padding-top: 30px;
	margin-bottom: 20px;
}

.fPadding{
	padding: 30px;
	padding-bottom: 15px;
}

i{
	margin-right: 3px;
}

p{
	text-align: justify;
}

.cCPadding{
	padding-top: 20px;
}