body{
	background-color: black;
}

.cart{
	margin-left: 5px;
	background-color: white;
	color: black;
	border-radius: 10px;
	padding: 6px;
}

.bFont{
	font-weight: 600;
}

.bShop{
	margin-right: 4px;
}

.imgSize{
	width: 100%;
	height: 90%;
}

.fMargin{
	padding-top: 30px;
}

.fPadding{
	padding: 30px;
	padding-bottom: 15px;
}

.cPadding{
	padding-top: 20px;
}

.cAlign{
	align-items: center;
}

